
@layer utilities {
  .time-option-card {
    transition: all 0.3s ease;
  }

  .time-option-card:hover, .time-option-card.selected {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .time-option-1 {
    background-color: #d0e2ff; /* Light blue */
    border: 2px solid #3A78D4;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.8);
    -webkit-text-stroke: 1px #333333;
    font-weight: bold;
  }

  .time-option-1:hover, .time-option-1.selected {
    background-color: #3A78D4;
  }

  .time-option-2 {
    background-color: #d8f2ef; /* Light turquoise */
    border: 2px solid #27A193;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.8);
    -webkit-text-stroke: 1px #333333;
    font-weight: bold;
  }

  .time-option-2:hover, .time-option-2.selected {
    background-color: #27A193;
  }

  .time-option-3 {
    background-color: #ffeccc; /* Light orange */
    border: 2px solid #F1A10C;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.8);
    -webkit-text-stroke: 1px #333333;
    font-weight: bold;
  }

  .time-option-3:hover, .time-option-3.selected {
    background-color: #F1A10C;
  }

  .time-option-4 {
    background-color: #f0ddf8; /* Light purple */
    border: 2px solid #9D4EDD;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.8);
    -webkit-text-stroke: 1px #333333;
    font-weight: bold;
  }

  .time-option-4:hover, .time-option-4.selected {
    background-color: #9D4EDD;
  }

  .time-option-5 {
    background-color: #fad5e5; /* Light pink */
    border: 2px solid #DE4A8F;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.8);
    -webkit-text-stroke: 1px #333333;
    font-weight: bold;
  }

  .time-option-5:hover, .time-option-5.selected {
    background-color: #DE4A8F;
  }

  .time-icon {
    color: #FFFFFF; /* White for accessibility */
  }

  .heart-icon {
    color: #FFFFFF; /* White for accessibility */
  }
}
